@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

*{
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}
body{
    display: flex;
    justify-content:  center;
    align-items: center;
} 
.container{
    top: 50%;
    left: 50%;
    position: absolute;
    margin: 0 auto;
    width: 256px;
    transform : translate(-50% , -50%);
    text-align: center;
    border: 8px solid grey;
    background: gray;
    border-radius: 4px;
}